main {
    /* Desktop (Widescreen) */


/* Auto Layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 48px;

position: relative;
width: 1680px;
height: 485px;

/* White */

background: #FFFFFF;
}

/* ------------------------- HEADING SECTION ---------------- */
.heading {
    /* Heading */


/* Auto Layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 1584px;
height: 64px;
left: 48px;
top: 48px;


/* Inside Auto Layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
}

.bookings {
/* Bookings */


position: static;
width: 101px;
height: 32px;
left: 0px;
top: 0px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */


/* Text */

color: #000000;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;
}

.results {
/* N results */


position: static;
/* width: 64px; */
width: 80px;
height: 24px;
left: 0px;
top: 40px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Text */

color: #000000;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;
}

/* -------------------------- FRAMES SECTION ----------------- */

.frame4 {
/* Frame 4 */


/* Auto Layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: static;
width: 1584px;
height: 301px;
left: 48px;
top: 136px;


/* Inside Auto Layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
}

.frame3 {
/* Frame 3 */


/* Auto Layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 87px;
height: 301px;
left: 0px;
top: 0px;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}

.frame13 {
/* Frame 13 */


/* Auto Layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;

position: static;
width: 45px;
height: 36px;
left: 0px;
top: 0px;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;
}

.date {
/* Date */


position: static;
width: 29px;
height: 20px;
left: 8px;
top: 8px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* Text */

color: #000000;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}

.frame5 {
/* Frame 5 */


/* Auto Layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 121px;
height: 301px;
left: 87px;
top: 0px;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;
}

.frame14 {
/* Frame 14 */


/* Auto Layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;

position: static;
width: 121px;
height: 36px;
left: 0px;
top: 0px;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;
}

.apartmentName {
    /* Apartment name */


position: static;
/* width: 105px; */
width: 120px;
height: 20px;
left: 8px;
top: 8px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* Text */

color: #000000;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}

.frame6 {
/* Frame 6 */


/* Auto Layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 96px;
height: 301px;
left: 208px;
top: 0px;


/* Inside Auto Layout */

flex: none;
order: 2;
flex-grow: 0;
margin: 0px 0px;
}

.frame15 {
/* Frame 15 */


/* Auto Layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;

position: static;
width: 96px;
height: 36px;
left: 0px;
top: 0px;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;
}

.renterName {
/* Renter name */


position: static;
width: 80px;
height: 20px;
left: 8px;
top: 8px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* Text */

color: #000000;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}

.frame7 {
    /* Frame 7 */


/* Auto Layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 115px;
height: 301px;
left: 304px;
top: 0px;


/* Inside Auto Layout */

flex: none;
order: 3;
flex-grow: 0;
margin: 0px 0px;

}

.frame16 {
/* Frame 16 */


/* Auto Layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;

position: static;
width: 115px;
height: 36px;
left: 0px;
top: 0px;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;
}

.renterSurname {
    /* Renter surname */

position: static;
/* width: 99px; */
width: 110px;
height: 20px;
left: 8px;
top: 8px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* Text */

color: #000000;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}

.frame8 {
/* Frame 8 */


/* Auto Layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 66px;
height: 301px;
left: 419px;
top: 0px;


/* Inside Auto Layout */

flex: none;
order: 4;
flex-grow: 0;
margin: 0px 0px;
}

.frame17 {
/* Frame 17 */


/* Auto Layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;

position: static;
width: 51px;
height: 36px;
left: 0px;
top: 0px;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;
}

.email {
    /* Email */


position: static;
width: 35px;
height: 20px;
left: 8px;
top: 8px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* Text */

color: #000000;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}

.frame9 {
/* Frame 9 */


/* Auto Layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 1032px;
height: 301px;
left: 485px;
top: 0px;


/* Inside Auto Layout */

flex: none;
order: 5;
flex-grow: 1;
margin: 0px 0px;
}

.frame18 {
/* Frame 18 */


/* Auto Layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;

position: static;
width: 1032px;
height: 36px;
left: 0px;
top: 0px;


/* Inside Auto Layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 8px 0px;
}

.phone {
    /* Phone */


position: static;
width: 40px;
height: 20px;
left: 8px;
top: 8px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* Text */

color: #000000;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}

.frame10 {
/* Frame 10 */


/* Auto Layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 67px;
height: 301px;
left: 1517px;
top: 0px;


/* Inside Auto Layout */

flex: none;
order: 6;
flex-grow: 0;
margin: 0px 0px;
}

.frame24 {
/* Frame 24 */


/* Auto Layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;

position: static;
width: 65px;
height: 36px;
left: 0px;
top: 0px;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;
}

.options {
    /* Options */


position: static;
width: 49px;
height: 20px;
left: 8px;
top: 8px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* Text */

color: #000000;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}





























